<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Theiconnz_Wholesale::menu" title="Wholesale" translate="title" module="Theiconnz_Wholesale"
             parent="Theiconnz_Base::menu" sortOrder="10" resource="Theiconnz_Wholesale::menu" />

        <add id="Theiconnz_Wholesale::wholesale_regs" title="Wholesale Registrations" translate="title" module="Theiconnz_Wholesale"
             parent="Theiconnz_Wholesale::menu" sortOrder="10" resource="Theiconnz_Wholesale::wholesale"
             action="wholesale/registrations/" />

        <add id="Theiconnz_Wholesale::config" title="Wholesale Configuration" translate="title"
             module="Theiconnz_Wholesale" sortOrder="30" parent="Theiconnz_Wholesale::menu"
             resource="Theiconnz_Wholesale::config" action="admin/system_config/edit/section/wholesale" />
    </menu>
</config>
